.header{
    margin: 0 auto;
width:100px;
height: 100px;
background-color: #b6d11d;
}

.header:hover{
    background: hotpink;
   
}

.main-video{
    margin: 0 auto;
    width: 600px;
    height: 500px;
    background-color: #09bce998;
}
.video{
    width: 600px;
    height: 100%;
}

@media  (max-width:600px) {
   .video{
    width: 360px;
    height: 200px;
   }
}
